.badge{
    position: absolute;
    top: -1px;
    right: -45px;
    padding: 1px 50px;
    color: aqua;
    font-size: 20px;
   
  }

.cart{
    cursor: pointer;
    border: 1px solid aqua;
    background-color: black;
    color: white;
    border-radius:5px;
    font-size: 20px;
    margin: auto;
    position: absolute;
    right:20px;
    top: 15px;
    width: 55px;
    text-align: center;
 
  }
