.badge{
    float: right;
    color: aqua;
    font-size: 20px;
  
  }

.cart {
    cursor: pointer;
    font: inherit;
    border:solid;
    border-color: aqua;
    background-color: black;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    float:right;
    height: 30px;
    width: 50px;
    border-radius:5px;
    padding-bottom: 10px;
  }

  